<!DOCTYPE html>
<html>
  <head>
    <title>Hacky Chess</title>
    <meta name="description" content="A very hacked together version of chess">
    <meta name="author" content="Valentijn van de Beek & Andres Salvi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/game.css">
    <link href="https://fonts.googleapis.com/css?family=Crushed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e1dd2c6e09.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- <img src="images/chess.jpg"/> -->
    <div id="overlay">
    </div>
    <div id="header">
      <div>
        <h1 id="title" onclick="titleClicked();" onmouseover="smallerAndLarger(this);">Hacked Together Chess</h1>
      </div>
    </div>
    <div id="main-content">
      <div class="popup small" id="waiting-screen">
        <div class="popup-header">
          <h4>Please wait...</h4>
          <hr>
        </div>
        <p class="spin-me-around">Claudia Hauff</p>
      </div>
      <div class="popup small" id="end-screen">
        <div class="popup-header">
          <h4 id="end-text">You won!</h4>
          <hr>
        </div>
        <p id="end-fluff"></p>
        <div class="buttonbox center">
          <input class="button " input="button" value="Play again">
          <input class="button eror" input="button" value="Exit">
        </div>
      </div>
      <div class="popup big" id="settings-screen">
        <div class="popup-header">
          <h4>Settings</h4>
          <hr>
        </div>
        <div class="popup-content">
          <span class="icon flash-icon"></span>
          <div class="range settings-item">
            <span class="setting-name">Flash speed</span>
            <input type="range" class="range" id="flash-speed" min="0.03" max="10" step="0.01"
              oninput="changeFlashSpeed(this)">
          </div>
          <span class="icon"></span>
          <div class="checkbox settings-item">
            <span class="setting-name">Lecturer mode</span>
            <input type="checkbox" id="lecturer-mode">
          </div>
          <span class="icon square"></span>
          <div class="checkbox settings-item">
            <span class="setting-name">Boring mode</span>
            <input type="checkbox" id="boring-mode">
          </div>
          <span class="fa fa-pawn"></span>
          <div class="colour-picker settings-item">
            <span class="setting-name">White's colour</span>
            <input type="color" value="#20c997">
          </div>
          <span class="fa fa-pawn"></span>
          <div class="colour-picker settings-item">
            <span class="setting-name">Black's colour</span>
            <input type="color" value="#17a2b8">
          </div>
        </div>
        <input class="button center" type="button" value="save settings">
      </div>
    <p>
      <!-- "Text that tells you if it's your turn or not" -->
    </p>
    <h2 id="obey">DO NOT RESIST. OBEY CLAUDIA. SERVICE GARANTUEES LEFT PADDING.</h2>
    <div class="chessboard">
      <% for (var i = 1; i <= length; i++) { %>
        <div class="row" id="<%= i %>" data-row="<%= i-1 %>">
          <% for (var j = 0; j < width; j++) {%>
              <% let char = String.fromCharCode('A'.charAt(0).charCodeAt(0) + j);%>
              <button id="<%= char + i%>" data-column="<%= j %>" data-row="<%= i-1 %>"
                data-colour="" onclick="buttonPressed(this);" disabled type="button" class="fa"></button>
              <% } %>
          </div>
          <% }  %>
      </div>
    </span>
    </div>

    <p id="attribution">Cover image by Adrian Askew and is licenced under the <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
  </body>
  <script type="text/javascript" src="/javascripts/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="/javascripts/game.js"></script> <!-- Insert javascript file here -->
</html>
