<!DOCTYPE html>
<html>
  <head>
    <title>Hacky Chess</title>
    <meta name="Description" content="A very hacked together version of chess">
    <meta name="author" content="Valentijn van de Beek & Andres Salvi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/splash.css">
     <link href="https://fonts.googleapis.com/css?family=Crushed&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- <img src="images/chess.jpg"/> -->
    <div id="header">
      <div>
        <h1 id="title">Hacked Together Chess</h1>
        <h4 id="subtitle"><i>Designed and implemented by Andres Salvi
            &amp; Valentijn van de Beek</i></h3>
       </div>
    </div>
    <div id="main-content">
      <p>
        This is a very simple implementation of the basic chess
        implemented in JavaScript and Express.js.
      </p>
      <p>
        It was made for the <a href="https://github.com/chauff/Web-Teaching/blob/master/Assignment-5.md">
        CSE1500 course at the TU Delft</a>
      </p>
      <div class="buttonbox">
        <a href="/createGame"><button id="create-game-btn" type="button">Create Game</button></a>
        <button id="join-game-btn" onclick="joinGame();" type="button">Join Game</button>
      </div>
      </span>
    </div>

    <!---
    <div id="join-game">
      <h2 id="subtitle">Join Game</h4>
        <input type="" placeholder="1234">
        <button id="join-game-btn" type="button">Join</button>
    </div>
    -->

    <p id="attribution">Cover image by Adrian Askew and is licenced under the <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
  </body>
  <script type="text/javascript" src="javascripts/splash.js"></script>
  <script type="module" src="javascripts/game.mjs"></script>
  <script type="module" src="javascripts/chess_pieces.mjs"></script>
</html>
