@media (max-width: 600px) and (max-height: 600px) {

    .row button {
        width: 50px;
        height: 40px;
    }

    #title {
        font-size: 2em;
        display: none;
    }
}

@media (max-height: 500px) {
    .row button {
        height: 30px;
    }
}

button {
    width: 75px;
    height: 75px;

    margin : 0px;
    padding: 0px;
    border: 2px solid var(--gray-dark);
    overflow: hidden;
    /* font-family: 'Crushed'; */
    font-size: 29px;
}

.white {
    color: var(--teal);
}

.black {
    color: var(--cyan);
}


@keyframes slide {
    0% {
        left: 100%;
    }

    100% {
        left: -80%;
    }
}

html {
    background: black;
}

/* Do some more interesting stuff */
#main-content h2 {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    font-size: 3em;
    color: white;
    font-family: 'Crushed';
    font-style: italic;
    font-weight: bold;
    display: none;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px black;
    align-self: flex-start;
}

#main-content:fullscreen {
    animation: rainbow-background linear var(--speed) infinite;
}

#main-content:fullscreen h2 {
    display: block;
    animation: slide 7s infinite;
    animation-timing-function: steps(30, end);
}

#main-content:fullscreen .chessboard {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items: center;
}

#main-content:fullscreen button {
    font-size: 20px;
    width: 100px;
    height: 100px;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.possibleMove {
    background-color: var(--teal) !important;
}

.row {
    margin: 0px;
    padding: 0px;
    width: auto;
    display: flex;
    overflow: hidden;
}

.row button {
    display: inline-block;
    padding: 0px;
}

.row:nth-child(2n) button:nth-child(2n) {
    background-color: white;
}

.row:nth-child(2n) button:nth-child(2n+1) {
    background-color: black;
}

.row:nth-child(2n+1) button:nth-child(2n+1) {
    background-color: white;
}

.row:nth-child(2n+1) button:nth-child(2n) {
    background-color: black;
}

.rook::after {
    content: '\f447';
}

.queen::after {
    content: '\f445';
}

.knight::after {
    content: '\f441';
}

.king::after {
    content: '\f43f';
}

.bishop::after {
    content: '\f43a';
}

.pawn::after {
    content: '\f443';
}

#title {
    font-family: 'Comic Sans MS', 'Comic Neue', 'Crushed', cursive;
    color: var(--pink);
    animation: rotate linear 5s 5s 3, blink linear 1s 5 alternate, rainbow linear 2.5s 5s 10, bounce 5s 1;
}

.popup {
    /* Make sure the popups are above the overlay */
    z-index: 2;

    color: black;
    background-color: var(--light);

    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;


    width: 600px;
    height: 700px;

    border: 2px solid var(--dark-gray);
    transition: all 0.4s;
    display: none;
}

.popup h4 {
     font-size: 2em;
     text-align: center;
 }

 .popup .popup-header {
     color: white;
     text-shadow: 1px 1px black;
     background-color: var(--cyan);
 }

 @keyframes rotateY {
     100% {
         transform: rotateY(360deg);
     }
 }

 @keyframes bounce {
     25% {
         top: 20px;
     }

     50% {
         top: 10px;
     }

     75% {
         top: 20px;
     }

     90% {
         top: 15px;
     }

     100% {
         top: 10px;
     }
 }

 hr {
     margin: 0;
     border-top: 2px solid var(--gray-dark);
 }

 #overlay {
     background-color: rgba(0, 0, 0, 0.5);
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     position: absolute;
     z-index: 1;
     display: none;
 }

 #waiting-screen p {
     margin: auto;
     font-size: 2em;
     text-align: center;
     font-variant: small-caps;
     animation: rotateY linear 5s infinite;
 }

 #waiting-screen h4 {
     font-style: italic;
 }

 .popup+.small {
     display: none;
     height: 300px;
     width: 500px;
 }

 .popup-content {
     margin-top: 10px;
     display: grid;
     font-family: verdana;
     font-size: 1.5em;
     grid-template-columns: 15% 80%;
     padding-bottom: 10px;
     align-items: center;
 }

 .icon {
     justify-self: center;
 }

 .icon.flash-icon::before {
     content: "\26A1";
 }

 .icon.square::before {
     content: "\25A1";
 }

 /* .popup-content span { */
 /* margin-left: 50px; */
 /* } */

 #settings-screen .settings-item {
     margin: 10px 0px;
     display: flex;
 }

 #settings-screen .setting-name {
     flex-grow: 1;
 }

 #settings-screen .range {
     flex-direction: column;
 }

 #settings-screen .popup-header {
     background-color: var(--gray-dark);
 }

 .button {
     padding-left: 16px;
     padding-right: 16px;
     padding: 10px;
     width: 150px;

     text-align: center;
     border: 1px solid;
     color: #fff;
     background-color: var(--blue);
     border-radius: 25px;
     border: 0;
 }

 .popup .center {
     align-self: center;
     margin-top: auto;
     margin-bottom: 20px;
 }

 input {
     -webkit-appearance: none;
     appearance: none;
 }

 /* Based on the example given on MDN */
 /* https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling */
 input[type="checkbox"] {
     border-radius: 28px;
     width: 44px;
     height: 16px;
     transition: 0.4s;
     background-color: #80CBC4;

 }

 input[type="checkbox"]:checked {
     background-color: #26A69A;
 }

 input[type="checkbox"]::before {
     border-radius: 20px;
     background-color: #009688;
     box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
     transition: all 0.4s;
     content: '';
     width: 24px;
     height: 24px;
     position: absolute;
     margin-top: -4px;
     margin-left: -5px;
 }

 input[type="checkbox"]:checked::before {
     margin-left: 24px;
     transition: all 0.4s;
     background-color: #00796B;
 }

 input[type="range"] {
     background: #80CBC4;
     height: 2px;
     margin-top: 15px;
     /* margin: 20px; */
     border-radius: 4px;
     padding: 0;
     outline: 1px solid transparent;
 }

 input[type="range"]::-webkit-slider-runnable-track {
     background-color: #00796B;
     height: 2px;

 }

 input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
     background-color: #00796B;
     height: 15px;
     width: 15px;
     border-radius: 20px;
     border-shadow: 0;
     border: 0;
     margin-top: -5px;
 }

 input[type="range"]::-moz-range-thumb {
     background-color: #00796B;
     height: 15px;
     width: 15px;
     border-radius: 20px;
     border-shadow: 0;
     border: 0;
 }

 #end-screen .popup-header {
     background-color: var(--green);
 }

 #end-screen {
     display: none;
 }

 .buttonbox {
     display: flex;
 }

 .button.error {
     background-color: var(--light);
     border: 1px solid var(--red);
     color: var(--red);
 }
