ehtml {
    background-image: url("../images/chess.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-align: center;
    background-size: cover;
}

body {
    color: white;
}

#header {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 1px 1px black;
}

#attribution {
    position: absolute;
    margin: 0px;
    padding: 5px;
    bottom: 0;
    left: 0;
    font-size: 8px;
    font-variant: small-caps;
}

#title {
    font-size: 4em;
    font-family: 'Crushed', cursive;
    font-variant: small-caps;
    line-height: 2px;
    text-align: center;
}

#subtitle {
    font-family: 'Crushed', cursive;
    text-align: center;
    margin: -10px 0px 0x 0px;
    padding: -5px;
}

#main-content {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 800px;

    position: relative;
    margin: auto;
    padding-top: 10px;
}

#main-content span {
    padding: 20px;
    margin: 10px;
}

#main-content p {
    padding-left: 10px;
    margin: 2px;
}

#main-content .buttonbox {
    margin: auto;
    padding: auto;
    display: flex;
    vertical-align: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 10px;
}

button {
    text-align: center;
    white-space: nowrap;
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding: 10px;
    vertical-align: middle;
    border-radius: 25px;
    color: #fff;
    font-variant: small-caps;
}

#create-game-btn {
    margin-right: 30px;
    background-color: var(--primary);
    border-color: var(--primary);
}

#create-game-btn:hover {
    background-color: var(--indigo);
    border-color: var(--indigo);
}

#join-game-btn {
    margin-left: 30px;
    background-color: var(--teal);
    border-color: var(--teal);
}

#join-game-btn:hover {
    background-color: var(--green);
    border-color: var(--green);
}

#join-game {
    color: black;
    flex-direction: column;
    /* position: absolute; */
    margin: auto;
    float: left;
    display: flex;
    background-color: white;
    width: 200px;
    height: 200px;
    left: 25%;
    z-index: -1;
}

#join-game input {
    margin: 50px;
    margin-left: 10px;
    width: 100%;
}
