:root {
    --speed: 0.5s;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #FFFFFF;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* Some material design colours */
    --material-primary: #6200EE;
    --material-primary-var: #3700B3;
    --material-secondary: #03DAC6;
    --material-secondary-var: #018786;
    --material-background: #ffffff;
    --material-error: #B00020;

    background-image: url("../images/chess.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-align: center;
    background-size: cover;
}

body {
    padding: 50px;
    font: 14px Helvetica, Arial, sans-serif;
    color: white;
}

a {
  color: #00B7FF;
}

#header {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 1px 1px black;
    transform: skewX(-30deg);

}

#attribution {
    position: absolute;
    margin: 0px;
    padding: 5px;
    bottom: 0;
    left: 0;
    font-size: 8px;
    font-variant: small-caps;
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes rainbow  {

    10% {
        color: var(--blue);
    }

    20% {
        color: var(--green);
    }

    30% {
        color: var(--yellow);
    }

    40% {
        color: var(--red);
    }

    50% {
        color: var(--teal);
    }

    60% {
        color: var(--orange);
    }

    70% {
        color: var(--indigo);
    }

    80% {
        color: var(--pink);
    }

    90% {
        color: var(--cyan);
    }

    100% {
        color: var(--pink);
    }
}


@keyframes rainbow-background {
    10% {
        background-color: var(--blue);
    }

    20% {
        background-color: var(--green);
    }

    30% {
        background-color: var(--yellow);
    }

    40% {
        background-color: var(--red);
    }

    50% {
        background-color: var(--teal);
    }

    60% {
        background-color: var(--orange);
    }

    70% {
        background-color: var(--indigo);
    }

    80% {
        background-color: var(--pink);
    }

    90% {
        background-color: var(--cyan);
    }

    100% {
        background-color: var(--pink);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes smaller-and-larger {
    25% {
        font-size: 4em
    }

    50% {
        font-size: 1em;
    }

    75% {
        font-size: 5.3em;
    }

    100% {
        font-size: 1em;
    }
}

#title {
    font-size: 4em;
    font-variant: small-caps;
    font-style: italic;
    color: white;

    line-height: 2px;
    text-align: center;
    /* animation: blink linear 1s 10 alternate; */

}

#subtitle {
    font-family: 'Comic Sans MS', 'Comic Neue', 'Crushed', cursive;
    font-style: italic;
    color: --var(pink);
    text-align: center;
    margin: -10px 0px 0x 0px;
    padding: -5px;
}
